button{
    border-radius: 12px;
    text-align: center;
    background-color: #0664f0;
    color: white;
    border-color:black;
}

div{
    text-align: center;
    background-color: white;
    border: ridge rgb(255, 255, 255);
    border-width: 10px;
    border-spacing: 10px;
    border-radius: 12px;
    padding: 15px;
}

body{
    background-color: blue;
    margin: 0px 100px 0px 100px;
}

.f{
    font-family: 'Times New Roman', Times, serif
}

p{
    font-size: 26px;
}

h1{
    font-size: 100px;
    color: white;
    text-align:center;
    padding: 0px;
    margin: 0px;
    font-family: "Mali", "Times New Roman", "Comic Sans"
}

nav{
    text-align:center;
    margin: auto;
    width: 100%;
    margin-bottom: 100px;
    height: 10px;
}

ul{
    font-size: 15px;
    color: white;
    background-color:black;  /*changes the color of the nav bar*/
    list-style-type: none;
    display: inline-block;
    text-align:center;
    border: solid black;
    margin: 0;
    padding: 0;
    width: inherit;
    overflow:hidden;
    height: 75px;
}

li{
    padding: 15px;
    font-size: 50px;
    text-align:center;
    display: inline;

}

#Welcome{
    color: black; 
    font-size: 45px;
}

a{
    display: inline-block;
    padding: 10px;
    background-color: black; /*Changes the color of the button */
    color: white;     /*changes te color of the text */
    text-align: center;
    font-size: 25px;
    text-decoration:none;
}

li a:hover {
    background-color: blue;  /* changes the color when mouse hovers over */
}

li a:visited {
    color: white;
}
header{
    width: 100%;
}